<a href="https://colab.research.google.com/github/eathi/Pytorch-codebase/blob/main/oops_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
hp=laptop()

Constructor getting called automatically as soon as an object of class been created
The main purpose of the constrctor is to assign values to its data members of the class

In [24]:
dell=laptop()

Constructor getting called automatically as soon as an object of class been created
The main purpose of the constrctor is to assign values to its data members of the class

In [23]:
class laptop:
  price=''
  discount=''
  brand=''
  def __init__(self):
    print('Constructor getting called automatically as soon as an object of class been created')
    print('The main purpose of the constrctor is to assign values to its data members of the class')
  def print_price(self,brand,price,discount):
    print('The price of {} is {} and discount provided is {}'.format(brand,price,discount))

In [10]:
laptop.brand='lenovo'
laptop.price='20000'
laptop.discount='20%'

In [12]:
laptop.print_price(0,laptop.brand,laptop.price,laptop.discount)

The price of lenovo is 20000 and discount provided is 20%

In [31]:
class real_estate:

  def __init__(self):
    print('Constructor getting called automatically as soon as an object of class been created')
    print('The main purpose of the constrctor is to assign values to its data members of the class')
    self.price=''
    self.discount=''
    self.property_type=''
    self.city=''
  def print_price(self,property_type,city,price,discount):
    print('The price of {} at {} is {} and discount provided is {}'.format(property_type,city,price,discount))

In [32]:
TN=real_estate()
TN.price='3500000'
TN.discount='2%'
TN.property_type='Commercial Rental Property'
TN.city='Chennai'
TN.print_price(TN.property_type,TN.city,TN.price,TN.discount)

Constructor getting called automatically as soon as an object of class been created
The main purpose of the constrctor is to assign values to its data members of the class
The price of Commercial Rental Property at Chennai is 3500000 and discount provided is 2%

In [34]:
class real_estate:

  def __init__(self):
    print('Constructor getting called automatically as soon as an object of class been created')
    print('The main purpose of the constrctor is to assign values to its data members of the class')
    self.price=''
    self.discount=''
    self.property_type=''
    self.city=''
  def print_price(self):
    print('The price of {} at {} is {} and discount provided is {}'.format(self.property_type,self.city,self.price,self.discount))

In [41]:
AND=real_estate()
AND.price='3600000'
AND.discount='1%'
AND.property_type='Commercial Rental Property'
AND.city='Jubilee Hills'

Constructor getting called automatically as soon as an object of class been created
The main purpose of the constrctor is to assign values to its data members of the class

In [42]:
AND.print_price()

The price of Commercial Rental Property at Jubilee Hills is 3600000 and discount provided is 1%

In [43]:
KER=real_estate()
KER.price='2500000'
KER.discount='1%'
KER.property_type='Housing property'
KER.city='Kochi'

Constructor getting called automatically as soon as an object of class been created
The main purpose of the constrctor is to assign values to its data members of the class

In [44]:
KER.print_price()

The price of Housing property at Kochi is 2500000 and discount provided is 1%

In [45]:
#code reusability and code maintainabiity is superb

In [46]:
#EMPTY class with a placeholder like pass


class simple:
  pass

In [47]:
#class and object example:

class student:
  def __init__(self):
    self.name=''
    self.Reg_no=''
  def display(self):
    print('Name of student is {} and Register number is {}'.format(self.name,self.Reg_no))

In [48]:
s1=student()
s1.name='Ramesh'
s1.Reg_no='211414104065'
s1.display()

Name of student is Ramesh and Register number is 211414104065

In [63]:
#class and object example:

class student_alt:
  def __init__(self):
    self.name='Jawahar'
    self.Reg_no='2114141040667'
  def display(self):
    print('Name of student is {} and Register number is {}'.format(self.name,self.Reg_no))

In [79]:
s1=student_alt
s1.name='Karthi'
s1.Reg_no='211414104066'
s1.display(s1)

Name of student is Karthi and Register number is 211414104066

In [80]:
s2=student_alt
s2.name='Jyothika'
s2.Reg_no='211414104074'
s2.display(s2)

Name of student is Jyothika and Register number is 211414104074

In [110]:
#class and object example:

class student_alt:
  def __init__(self):
    self.name='Jawahar'
    self.Reg_no='2114141040667'
  def display(self):
    print('Name of student is {} and Register number is {}'.format(self.name,self.Reg_no))

s1=student_alt()
s1.name='Karthi'
s1.Reg_no='211414104066'
s1.display()

s2=student_alt()
s2.name='Jyothika'
s2.Reg_no='211414104074'
s2.display()

s3=student_alt()
s3.display()

Name of student is Karthi and Register number is 211414104066
Name of student is Jyothika and Register number is 211414104074
Name of student is Jawahar and Register number is 2114141040667

In [90]:
class Fruit:
  def __init__(self):
    self.colour='Red'
    self.price='100'
  def display(self):
    print('Colour is {} and price is {}'.format(self.colour,self.price))

In [92]:
apple=Fruit()
apple.colour='Green'
apple.price='200'
apple.display()

Colour is Green and price is 200

In [101]:
class Fruit:
  def __init__(self,col,fruit):
    self.color=col
    self.fruit=fruit
  def display(self):
    print('Colour of {} is {}'.format(self.fruit,self.color))

In [103]:
banana=Fruit('yellow','banana')
banana.display()

Colour of banana is yellow

In [108]:
#class and object example:

class teacher:
  def __init__(self):
    self.name='Mohana Priya'
    self.Reg_no='PEC_224'
  def display(self):
    print('Name of teacher is {} and Register number is {}'.format(self.name,self.Reg_no))

s1=teacher()
s1.display()

Name of teacher is Mohana Priya and Register number is PEC_224

In [113]:
#class and object example:

class teacher:
  def __init__(self,name,reg):
    self.name=name
    self.Reg_no=reg
  def display(self):
    print('Name of teacher is {} and Register number is {}'.format(self.name,self.Reg_no))

t1=teacher('Jake','PEC_277')
t1.display()

t2=teacher('Paul','PEC_128')
t2.display()

Name of teacher is Jake and Register number is PEC_277
Name of teacher is Paul and Register number is PEC_128

In [119]:
class calculator:
  def __init__(self,a,b,cal):
    self.a=a
    self.b=b
    self.calculation_type=cal

  def calculate(self):
    if self.calculation_type =='add':
      result=self.a+self.b
      print('Addition of two values is {}'.format(result))
    elif self.calculation_type =='sub':
      result=self.a-self.b
      print('Subraction of two values is {}'.format(result))
    elif self.calculation_type =='mul':
      result=self.a*self.b
      print('Multiplication of two values is {}'.format(result))
    elif self.calculation_type =='div':
      result=self.a/self.b
      print('Division of two values is {}'.format(result))
    elif self.calculation_type =='mod':
      result=self.a%self.b
      print('Modulus of two values is {}'.format(result))
    elif self.calculation_type =='exp':
      result=self.a**self.b
      print('Exponential of two values is {}'.format(result))

In [121]:
c1=calculator(3,5,'add')
c1.calculate()
c2=calculator(3,5,'exp')
c2.calculate()

Addition of two values is 8
Exponential of two values is 243

CLASSES AND VARIABLES TYPES

In [122]:
#Using class variables
'''
Lets say we need to use a universal variable as a normal for all instances of cllass been created . we might not need to create a
instance variable everytime such that we assign same value to that variable. In these scenarios class variables come in handy
'''

'\nLets say we need to use a universal variable as a normal for all instances of cllass been created . we might not need to create a \ninstance variable everytime such that we assign same value to that variable. In these scenarios class variables come in handy  \n'

In [125]:
#class and object example:

class teacher:
  school='Infant Jesus Matriculation school'
  def __init__(self,name,reg):
    self.name=name
    self.Reg_no=reg
  def display(self):
    print('Name of teacher is {} and Register number is {} from {}'.format(self.name,self.Reg_no,self.school))

class student_alt:
  school='Velammal Matriculation school-CBSE'
  def __init__(self):
    self.name='Jawahar'
    self.Reg_no='2114141040667'
  def display(self):
    print('Name of student is {} and Register number is {} from {}'.format(self.name,self.Reg_no,self.school))

t1=teacher('Jake','PEC_277')
t1.display()

s1=student_alt()
s1.display()

#HERE WE CAN SEE THAT self.name and self.Reg_no ARE INSTANCE VARIABLES WHICH HOLDS VALUE ONLY TO THAT PARTICULAR INSTANCE

Name of teacher is Jake and Register number is PEC_277 from Infant Jesus Matriculation school
Name of student is Jawahar and Register number is 2114141040667 from Velammal Matriculation school-CBSE

In [127]:
#class and object example:

class teacher:
  school='Infant Jesus Matriculation school'
  def __init__(self,name,reg):
    self.name=name
    self.Reg_no=reg
  def display(self):
    print('Name of teacher is {} and Register number is {} from {}'.format(self.name,self.Reg_no,self.school))

class student_alt:
  school='Velammal Matriculation school-CBSE'
  def __init__(self):
    self.name='Jawahar'
    self.Reg_no='2114141040667'
  def display(self):
    print('Name of student is {} and Register number is {} from {}'.format(self.name,self.Reg_no,self.school))

teacher.school='Chennai Public school - CBSE'
t1=teacher('Jake','PEC_277')
t1.display()

student_alt.school='SBOA Matriculation school-CBSE'
s1=student_alt()
s1.display()

#CLASS OBJECTS CAN ALSO BE MODIFIED THEN AND THERE IF REQUIRED
#HERE WE CAN SEE THAT self.name and self.Reg_no ARE INSTANCE VARIABLES WHICH HOLDS VALUE ONLY TO THAT PARTICULAR INSTANCE

Name of teacher is Jake and Register number is PEC_277 from Chennai Public school - CBSE
Name of student is Jawahar and Register number is 2114141040667 from SBOA Matriculation school-CBSE

CLASSES AND TYPES OF METHODS/FUNCTIONS

In [133]:
#class and object example:

class teacher:
  school='Infant Jesus Matriculation school'
  def __init__(self,name,reg):
    self.name=name
    self.Reg_no=reg
  def display(self):
    print('Name of teacher is {} and Register number is {} from {}'.format(self.name,self.Reg_no,self.school))

class student_alt:
  school='Velammal Matriculation school-CBSE'
  def __init__(self):
    self.name='Jawahar'
    self.Reg_no='2114141040667'

  def setschoolname(cls):
    cls.school='Rani Mangamma Matriculation school'


  def display(self):
    print('Name of student is {} and Register number is {} from {}'.format(self.name,self.Reg_no,self.school))

s1=student_alt()
student_alt.setschoolname(student_alt)
s1.display()

#HERE WE ARE TRYING TO MODIFY THE EXISTING VALUE OF CLASS OBJECT SCHOOL WITH setschoolname function

Name of student is Jawahar and Register number is 2114141040667 from Rani Mangamma Matriculation school

DECORATORS

In [135]:
#class and object example:

class teacher:
  school='Infant Jesus Matriculation school'
  def __init__(self,name,reg):
    self.name=name
    self.Reg_no=reg
  @classmethod
  def setschoolname(cls):
    cls.school='SAINT JOSEPHS MATRICULATION SCHOOL'

  def display(self):
    print('Name of teacher is {} and Register number is {} from {}'.format(self.name,self.Reg_no,self.school))

class student_alt:
  school='Velammal Matriculation school-CBSE'
  def __init__(self):
    self.name='Jawahar'
    self.Reg_no='2114141040667'

  def setschoolname(cls):
    cls.school='Rani Mangamma Matriculation school'


  def display(self):
    print('Name of student is {} and Register number is {} from {}'.format(self.name,self.Reg_no,self.school))

s1=student_alt()
student_alt.setschoolname(student_alt)
s1.display()

t1=teacher('Jake','PEC_224')
teacher.setschoolname()
t1.display()

#HERE WE ARE TRYING TO MODIFY THE EXISTING VALUE OF CLASS OBJECT SCHOOL WITH setschoolname function
#OR ELSE WE CAN USE A DECORATOR BY MENTIONING '@' SYMBOL ABOVE THE CLASS NAME TO AVOID PASSING THE CLASS NAME AS A ARGUMENT

Name of student is Jawahar and Register number is 2114141040667 from Rani Mangamma Matriculation school
Name of teacher is Jake and Register number is PEC_224 from SAINT JOSEPHS MATRICULATION SCHOOL

STATIC METHODS WHICH DOES NOT USE CLASS AND INSTANCE VARIABLES TO DO OPERATIONS

In [139]:
#class and object example:
class teacher:
  school='Infant Jesus Matriculation school'
  def __init__(self,name,reg):
    self.name=name
    self.Reg_no=reg
  @classmethod
  def setschoolname(cls):
    cls.school='SAINT JOSEPHS MATRICULATION SCHOOL'

  def display(self):
    print('Name of teacher is {} and Register number is {} from {}'.format(self.name,self.Reg_no,self.school))

  @staticmethod
  def simple():
    print('Hey yooooooooooooooo')

t1=teacher('Jake','PEC_224')
teacher.setschoolname()
t1.display()
t1.simple()

#HERE WE ARE USING A DECORATOR '@staticmethod' TO SPECIFY THE FUNCTION 'simple' AS STATIC METHOD/FUNCTION
#HERE WE ARE TRYING TO MODIFY THE EXISTING VALUE OF CLASS OBJECT SCHOOL WITH setschoolname function
#OR ELSE WE CAN USE A DECORATOR BY MENTIONING '@' SYMBOL ABOVE THE CLASS NAME TO AVOID PASSING THE CLASS NAME AS A ARGUMENT

Name of teacher is Jake and Register number is PEC_224 from SAINT JOSEPHS MATRICULATION SCHOOL
Hey yooooooooooooooo

INHERITANCE AND ITS TYPES

SINGLE INHERITANCE

In [18]:
class dad():
  def __init__(self):
    self.car='Skoda'
    self.money='2250000'
    self.real_estate='Home'
  def assets(self):
    print('I own a house and a car')

class son(dad):
  def __init__(self):
    pass
  def inherit(self):
    print(self.car,self.money)

s=son()
s.assets()

I own a house and a car

MULTIPLE INHERITANCE

In [23]:
class dad():
  def __init__(self):
    self.car='Skoda'
    self.money='2250000'
    self.real_estate='Home'
  def assets(self):
    print('I own a {} car and some amount of {} also a {} which we live in currently')

class mom():
  def __init__(self):
    self.metal='Gold'
    self.money='2250'
    self.real_estate='Ancestoral share'
  def valuables(self):
    print('I own my stuff {},{},{}')

class son(dad,mom):
  def __init__(self):
    pass
  def inherit(self):
    print(self.car,self.money)

s=son()
s.assets()
s.valuables()

I own a {} car and some amount of {} also a {} which we live in currently
I own my stuff {},{},{}

MULTILEVEL INHERITANCE

In [25]:
class grandpa():
  def __init__(self):
    self.car='Skoda'
    self.money='2250000'
    self.real_estate='Home'
  def assets(self):
    print('I own a {} car and some amount of {} also a {} which we live in currently')

class father(grandpa):
  def __init__(self):
    self.metal='Gold'
    self.money='2250'
    self.real_estate='Ancestoral share'
  def valuables(self):
    print('I own my stuff {},{},{}')

class son(father):
  def __init__(self):
    pass
  def inherit(self):
    print(self.car,self.money)

f=father()
f.assets()
s=son()
s.assets()
s.valuables()

I own a {} car and some amount of {} also a {} which we live in currently
I own a {} car and some amount of {} also a {} which we live in currently
I own my stuff {},{},{}

HIERARICHAL INHERITANCE

In [26]:
class dad():
  def __init__(self):
    self.car='Skoda'
    self.money='2250000'
    self.real_estate='Home'
  def assets(self):
    print('I own a {} car and some amount of {} also a {} which we live in currently')

class son(dad):
  def __init__(self):
    self.metal='Gold'
    self.money='2250'
    self.real_estate='Ancestoral share'
  def valuables(self):
    print('I own my stuff {},{},{}')

class daughter(dad):
  def __init__(self):
    pass
  def inherit(self):
    print(self.car,self.money)

s=son()
s.assets()
d=daughter()
d.assets()

I own a {} car and some amount of {} also a {} which we live in currently
I own a {} car and some amount of {} also a {} which we live in currently

MULTIPLE TRY 2

In [27]:
class dad():
  def __init__(self):
    self.car='Skoda'
    self.money='2250000'
    self.real_estate='Home'
  def assets(self):
    print('I own a {} car and some amount of {} also a {} which we live in currently')

class land():
  def display(self):
    print('This is a 5 acre property')


class farms():
  def display(self):
    print('This is a 5 acre farm property')

class son(dad,land):
  def __init__(self):
    self.metal='Gold'
    self.money='2250'
    self.real_estate='Ancestoral share'
  def valuables(self):
    print('I own my stuff {},{},{}')

class daughter(dad,farms):
  def __init__(self):
    pass
  def inherit(self):
    print(self.car,self.money)

s=son()
s.assets()
s.display()
d=daughter()
d.assets()
d.display()

I own a {} car and some amount of {} also a {} which we live in currently
This is a 5 acre property
I own a {} car and some amount of {} also a {} which we live in currently
This is a 5 acre farm property

SUPER KEYWORD

SUPER KEYWORD FOR HIERARICHAL INHERITANCE

In [37]:
class dad():
  def __init__(self):
    self.car='Skoda'
    self.money='2250000'
    self.real_estate='Home'
  def assets(self):
    print('I own a {} car and some amount of {} also a {} which we live in currently'.format(self.car,self.money,self.real_estate))

class son(dad):
  def __init__(self):
    super().__init__()
  def valuables(self):
    print('I own my dad {},{}'.format(self.car,self.money))

class daughter(dad):
  def __init__(self):
    super().__init__()
  def inherit(self):
    print('I own my dad {},{}'.format(self.money,self.real_estate))

s=son()
s.valuables()
d=daughter()
d.inherit()

I own my dad Skoda,2250000
I own my dad 2250000,Home

SUPER KEYWORD FOR MULTILEVEL INHERITANCE

In [38]:
class grandpa():
  def __init__(self):
    self.car='Skoda'
    self.money='2250000'
    self.real_estate='Home'
  def assets(self):
    print('I own a {} car and some amount of {} also a {} which we live in currently'.format(self.car,self.money,self.real_estate))

class father(grandpa):
  def __init__(self):
    super().__init__()
  def valuables(self):
    print('I own stuff from your grandfather {},{},{}'.format(self.car,self.money,self.real_estate))

class son(father):
  def __init__(self):
    super().__init__()
  def inherit(self):
    print('I own my father stuff {},{},{}'.format(self.car,self.money,self.real_estate))

s=son()
s.valuables()
s.inherit()

I own stuff from your grandfather Skoda,2250000,Home
I own my father stuff Skoda,2250000,Home

SUPER KEYWORD FOR MULTIPLE INHERITANCE

In [34]:
class dad():
  def __init__(self):
    self.car='Skoda'
    self.money='2250000'
    self.real_estate='Home'
  def assets(self):
    print('I own a {} car and some amount of {} also a {} which we live in currently'.format(self.car,self.money,self.real_estate))

class mom():
  def __init__(self):
    super().__init__()
    self.metal='Gold'
    self.money='2250'
    self.real_estate='Ancestoral share'
  def valuables(self):
    print('I own my stuff {},{},{}'.format(self.metal,self.money,self.real_estate))

class son(mom,dad):
  def __init__(self):
    super().__init__()
  def inherit(self):
    print(self.car,self.money)

s=son()
s.assets()
s.valuables()

I own a Skoda car and some amount of 2250 also a Ancestoral share which we live in currently
I own my stuff Gold,2250,Ancestoral share

POYMORPHISM IN PYTHON

In [61]:
class getname():
  def __init__(self,name):
    self.name=name
  def person_display(self):
    print('The name is {}'.format(self.name))

class getgrade(getname):
  def __init__(self,grade,name):
    super().__init__(name)
    self.grade=grade
  def person_display(self):
    print('The name is {}'.format(self.name))
    print('The grade is {}'.format(self.grade))

name=getname("JOHN")
grade=getgrade("A","BIJILI")
grade.person_display()
name.person_display()

The name is BIJILI
The grade is A
The name is JOHN